{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center mb-4">Créer un critique</h2>

    <div class="d-flex flex-column">
        <div class="d-block border border-secondary p-2">
            <p>Vous êtes en train de poster en réponse à </p>
            <div class="border border-secondary m-4 p-2">
                {% include 'review/partials/ticket_snippet.html' with ticket=ticket %}
            </div>
        </div>
        <div class="d-block border border-secondary p-2">
            <p>Critique</p>
            {{ review_form.error }}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ review_form.edit_review }}
                <label class="ms-3" for="{{ review_form.headline.id }}">Titre</label>
                <div class="ms-4 mb-3 p-2">
                    {{ review_form.headline}}
                </div>
                <label class="ms-3">Note</label>
                <div class="ms-4 mb-3 p-2 container-fluid">
                    {% for choice in review_form.rating %}
                        <div class="form-check form-check-inline">
                            <label class="form-check-label" for="{{ choice.id_for_label }}">
                                {{ choice.tag }} -{{choice.choice_label }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <label class="ms-3" for="{{ review_form.body.id }}">Commentaire</label>
                <div class="ms-4 mb-3 p-2" >
                    {{ review_form.body }}
                </div>
                <div class="text-end">
                    <input class="btn btn-secondary" type="submit" value="Envoyer">
                </div>
            </form>
        </div>
</div>
{% endblock content %}