{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center">Créer un critique</h2>
    <div class="d-flex flex-column">
        <div class="d-block border border-secondary p-2">
            <p>Vous êtes en train de poster en réponse à </p>
            <div class="border border-secondary m-4 p-2">
                {% include 'review/partials/ticket_snippet.html' with ticket=ticket %}
            </div>
        </div>
        <div class="d-block border border-secondary p-2">
            <p>Critique</p>
            <form method="post" enctype="multipart/form-data">
                {{ review_form.as_p }}
                {% csrf_token %}
                <div class="text-end">
                    <button class="btn btn-secondary" type="submit" >Envoyer</button>
                </div>
            </form>
        </div>
</div>
{% endblock content %}