{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center mb-4">Créer un ticket</h2>

    <div class="d-flex flex-column mb-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ ticket_form.edit_ticket }}
            <label class="ms-3" for="{{ ticket_form.title.id }}">Titre</label>
            <div class="ms-4 mb-3 p-2">
                {{ ticket_form.title}}
            </div>
            <label class="ms-3" for="{{ ticket_form.description.id }}">Description</label>
            <div class="ms-4 mb-3 p-2">
                {{ ticket_form.description}}
            </div>
            <label class="ms-3" for="{{ ticket_form.image.id }}">Image</label>
            <div class="ms-4 mb-3 p-2">
                {{ ticket_form.image}}
            </div>

            <div class="text-end">
                    <input class="btn btn-secondary mb-4" type="submit" value="Envoyer">
                </div>
        </form>
    </div>
{% endblock content %}