{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center mb-4">Supprimer votre ticket ?</h2>
    <div class="border border-secondary m-4 p-2">
        {% include 'review/partials/ticket_snippet.html' with ticket=ticket %}
    </div>
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
        <div class="text-end">
            <input class="btn btn-secondary mb-4" type="button" value="Annuler" onclick="history.go(-1)">
            <input class="btn btn-secondary mb-4" type="submit" value="Supprimer">
        </div>
    </form>
{% endblock content %}