{% extends 'base.html' %}
{% block content %}
{% if ticket.user == request.user %}
    <h2 class="text-center mb-4">Modifier votre ticket</h2>

    <div class="d-block p-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form.edit_ticket }}
            <label class="ms-3" for="{{ edit_form.title.id }}">Titre</label>
            <div class="ms-4 mb-3 p-2">
                {{ edit_form.title}}
            </div>
            <label class="ms-3" for="{{ edit_form.description.id }}">Description</label>
            <div class="ms-4 mb-3 p-2">
                {{ edit_form.description}}
            </div>
            <label class="ms-3 mb-3" for="{{ edit_form.image.id }}">Image</label>
            {% if ticket.image %}
                <div class="ms-4 mb-3 p-2">
                    <img src="{{ ticket.image.url }}">
                </div>
            {% endif %}
            <div class="ms-4 mb-3 p-2">
                {{ edit_form.image}}
            </div>
            {% include 'review/partials/validation_buttons_snippet.html' with word='Envoyer' %}
        </form>
    </div>
{% else %}
    <h2 class="text-center mb-4">Accès non-autorisé</h2>
    <div>
        <h3 class="text-center mb-4">Vous n'êtes pas autorisé à effectuer cette action !</h3>
        <div class=" text-center">
            <a class="btn btn-secondary mb-4 me-2" href="{% url 'home' %}">Retour</a>
        </div>
    </div>
{% endif %}
{% endblock content %}

<!--
<div class="d-flex flex-column mb-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ ticket_form.edit_ticket }}
        <label class="ms-3" for="{{ ticket_form.title.id }}">Titre</label>
        <div class="ms-4 mb-3 p-2">
            {{ ticket_form.title}}
        </div>
        <label class="ms-3" for="{{ ticket_form.description.id }}">Description</label>
        <div class="ms-4 mb-3 p-2">
            {{ ticket_form.description}}
        </div>
        <label class="ms-3" for="{{ ticket_form.image.id }}">Image</label>
        <div class="ms-4 mb-3 p-2">
            {{ ticket_form.image}}
        </div>

        <div class="text-end">
            <input class="btn btn-secondary mb-4" type="submit" value="Envoyer">
        </div>
    </form>
</div>
-->