{% extends 'base.html' %}
{% block content %}
    <h2>Modifier votre critique</h2>

    <p>Vous êtes en train de poster en réponse à</p>
    <p>{{ review.ticket.user }} a demandé un critique</p>
    <p>{{ review.ticket.title }}</p>
    <p>{{ review.ticket.description }}</p>
    {% if review.ticket.image %}
        <img src="{{ review.ticket.image.url }}">
    {% endif %}
    <form method="post">
        {{ edit_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Sauvegarder</button>
    </form>
{% endblock content %}