{% extends 'base.html' %}
{% block content %}
    <h3 class="text-center">Suivre d'autres utilisateurs</h3>
    <br>
    <p class="text-center">{{ message }}</p>
    <div class="container-fluid text-center">
        <form class="d-flex flex-row justify-content-around" method="post">
            <div class="p-2 flex-grow-1 align-self-center">{{ follow_form }}</div>
            {% csrf_token %}
            <div class="p-2"><button class="btn btn-secondary align-self-center" type="submit">Envoyer</button></div>
        </form>
    </div>
    <br>
    <h3>Abonnements</h3>

            {% for followed in followings %}
            <div class="d-flex bg-warning bg-opacity-10 border border-dark mb-4">
                <div class="p-2 flex-grow-1 align-self-center">{{ followed.followed_user }}</div>
                <div class="p-2 border-start border-dark"><a class="btn btn-secondary opacity-75" href="{% url 'unfollow_user' followed.id %}">Désabonner</a></div>
            </div>
            {% endfor %}


    <h3>Abonnés</h3>

            {% for follower in followed_by %}
            <div class="d-flex bg-secondary bg-opacity-10 border border-dark">
                <div class="p-2">{{ follower.user }}</div>
            </div>
            {% endfor %}

{% endblock content %}