{% extends 'base.html' %}
{% block content %}
    <h3>Suivre d'autres utilisateurs</h3>
    <p>{{ message }}</p>
    <form method="post">
        {{ follow_form.as_p }}
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit" >Envoyer</button>
    </form>
    <h3>Abonnements</h3>
    <div class="followings">
        <ul>
            {% for followed in followings %}
                <li>{{ followed.followed_user }} <a href="{% url 'unfollow_user' followed.id %}">Désabonner</a> </li>
            {% endfor %}
        </ul>
    </div>

    <h3>Abonnés</h3>
    <div class="followings">
        <ul>
            {% for follower in followed_by %}
                <li>{{ follower.user }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}