{% extends 'base.html' %}
{% load post_extras %}
{% block content %}
    <div class="text-center">
        <a class="btn btn-secondary" href="{% url 'create_ticket' %}">Demander une critique</a>
        <a class="btn btn-secondary" href="{% url 'create_ticket_review' %}">Créer une critique</a>
    </div>
    {% for instance in posts %}
        {% if instance|model_type == 'Ticket' %}
            <div class="ticket border border-secondary m-4 p-2">
                {% include 'review/partials/ticket_snippet.html' with ticket=instance %}
                {% if instance not in tickets_reviewed %}
                    <div class="text-end">
                        <a class="btn btn-secondary" href="{% url 'create_review_from_ticket' instance.id %}">Créer une critique</a>
                    </div>
                {% endif %}
            </div>
        {% elif instance|model_type == 'Review' %}
            <div class="review border border-secondary m-4 p-2">
                {% include 'review/partials/review_snippet.html' with review=instance %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}