{% extends 'base.html' %}
{% block content %}
    <p>Vous êtes connecté en tant que {{ request.user }}.</p>

    <h2>Flux</h2>
    <a href="{% url 'create_ticket' %}">Demander une critique</a>
    <a href="{% url 'create_ticket_review' %}">Créer une critique</a>
    {% for ticket in tickets %}
        <p>{{ ticket.title }}</p>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}">
        {% endif %}

    {% endfor %}

    <h2>Reviews</h2>
    {% for review in reviews %}
        <div class="post">
            <h3>{{ review.user }} a publié une critique </h3>
            <h4>{{ review.date_created }}</h4>
            <h2>{{ review.headline }} -
                {% for i in "x"|ljust:review.rating %}
                    <span>★</span>
                {% endfor %}

            </h2>

            <p>{{ review.body }}</p>

            <p>Ticket - {{ review.ticket.user }}</p>
            <p>{{ review.ticket.title }}</p>
            <p>{{ review.ticket.description }}</p>
            {% if ticket.image %}
                <img src="{{ review.ticket.image.url }}">
            {% endif %}
        </div>
    {% endfor %}


    <p>
        Pour changer votre mot de passe cliquez <a href="{% url 'password_change' %}">ici</a>
    </p>
{% endblock content %}