{% extends 'base.html' %}
{% load post_extras %}
{% block content %}

    <h2>Vos posts</h2>
    <hr>
    {% for instance in posts %}
        {% if instance|model_type == 'Ticket' %}
            {% include 'review/partials/ticket_snippet.html' with ticket=instance %}
                <a href="{% url 'edit_ticket' instance.id %}">Modifier</a>
                <a href="{% url 'delete_ticket' instance.id %}">Supprimer</a>
        {% elif instance|model_type == 'Review' %}
            {% include 'review/partials/review_snippet.html' with review=instance %}
            <a href="{% url 'edit_review' instance.id %}">Modifier</a>
            <a href="{% url 'delete_review' instance.id %}">Supprimer</a>
        {% endif %}
    {% endfor %}
    <hr>
{% endblock content %}