{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid d-flex flex-column w-50">
        <h2 class="text-center mb-4">Inscrivez-vous</h2>

        <form method="post">
            <div class="text-center">
                {{ form.as_p }}
            </div>
            {% csrf_token %}
            <div class="text-end">
                <a href="{% url 'login' %}"><button class="btn btn-secondary" type="button">Retourner</button></a>
                <button class="btn btn-secondary" type="submit" >S’inscrire</button>
            </div>
        </form>
    </div>
{% endblock content %}