{% load post_extras %}
    <div class="row">
        <p class="col-6">{% get_poster_display review.user %} publié une critique </p>
        <p class="col-6 text-end">{{ review.time_created|get_posted_at_display }}</p>
    </div>
    <h2 class="mb-3">
        <span class="fw-bold">{{ review.headline }}</span> -
        {% for i in "x"|ljust:"5" %}
            {% if forloop.counter <= review.rating %}
                <span class="text-warning">★</span>
            {% else %}
                <span>☆</span>
            {% endif %}
        {% endfor %}
    </h2>

    <p>{{ review.body }}</p>
    <div class="ticket border border-secondary m-2 p-2">
        {% include 'review/partials/ticket_snippet.html' with ticket=review.ticket from_review='yes' %}
    </div>