{% load post_extras %}
<div class="row me-3">
    {% if from_review == 'yes' %}
        <p>Ticket - {% get_poster_ticket ticket.user %}</p>
    {% else %}
        <p class="col-6">{% get_poster_display ticket.user %} demandé une critique</p>
        <p class="col-6 fs-6 text-end">{{ ticket.time_created|get_posted_at_display }}</p>
    {% endif %}

</div>
<p class="fw-semibold">{{ ticket.title }}</p>
<p>{{ ticket.description }}</p>
{% if ticket.image %}
    <img src="{{ ticket.image.url }}">
{% endif %}
