{% load static %}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <h1>LITReview</h1>
            {% if user.is_authenticated %}
                <nav>
                    <a href="{% url 'flux' %}">Flux</a>
                    <a href="{% url 'own_posts' %}">Posts</a>
                    <a href="{% url 'abonnements' %}">Abonnements</a>
                    <a href="{% url 'logout' %}">Se déconnecter</a>
                </nav>
            {% endif %}
        </header>
        {% block content %}{% endblock content %}
    </body>
</html>