{% load static %}

<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
                <nav class="navbar fixed-top navbar-expand-sm bg-light py-0">
                    <div class="container-fluid">
                        <a class="navbar-brand mx-auto h1" href="{% url 'home' %}">
                            <img src="{% static 'pictures/logo-LITReview.png' %}" alt="" width="70" height="60"
                                 class="d-inline-block align-text-center">
                            LITReview
                        </a>
                        {% if user.is_authenticated %}
                            <div class="navbar-nav text-sm-end">
                                <a class="nav-link fw-semibold" href="{% url 'flux' %}">Flux</a>
                                <a class="nav-link fw-semibold" href="{% url 'own_posts' %}">Posts</a>
                                <a class="nav-link fw-semibold" href="{% url 'abonnements' %}">Abonnements</a>
                                <a class="nav-link fw-semibold" href="{% url 'logout' %}">Se déconnecter</a>
                            </div>
                        {% endif %}
                    </div>
                </nav>
        </header>
        <section class="container">
            {% block content %}{% endblock content %}
        </section>
    </body>
</html>